.tag-list {
  display: flex;
  align-items: center;
  padding: 0 0 13px;
  border-bottom: 1px solid var(--gray200);
}

.tag-item {
  height: 26px;
  line-height: 26px;
  margin: 0 8px 0 0;
  padding: 0 8px;
  font-size: 14px;
  letter-spacing: -0.09px;
  color: var(--gray500);
  background: rgba(226, 231, 233, 0.42);
  border-radius: 2px;
  border: 1px solid rgba(200, 203, 206, 0.42);
  box-shadow: 0 1px 3px rgba(26, 30, 37, 0.15);
}

.tag-item:last-child {
  margin-right: 0;
}

.profile-group {
  font-size: 14px;
  letter-spacing: -0.09px;
  color: var(--black);
  margin: 0 0 30px;
}

.profile-group__label {
  color: var(--gray600);
  margin: 0 0 12px;
}