.profile-group__text {
  line-height: 1.29;
}

.calendar {
  margin: 40px 0;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar__arrow {
  background: transparent url('/assets/images/arrow.svg') no-repeat center center;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
}

.calendar__arrow:hover,
.calendar__arrow:focus {
  cursor: pointer;
}

.calendar__arrow-next {
  transform: rotate(180deg);
}

.calendar-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
}

.calendar-body {
  margin: 25px 0 0 0;
}

.calendar-weeks {
  display: grid;
  justify-content: space-between;
  margin: 0 0 9px 0;
}

.calendar-weeks__name {
  font-size: 13px;
  letter-spacing: -0.08px;
  color: var(--gray600);
  text-align: center;
}

.calendar-days {
  display: grid;
  justify-content: space-between;
  grid-row-gap: 1px;
  background: var(--gray200);
}

.calendar-day {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55px;
  padding: 2px 0 10px 0;
}

.calendar-day:hover,
.calendar-day:focus {
  cursor: pointer;
}

.calendar-day--empty:hover,
.calendar-day--empty:focus,
.calendar-day--disabled:hover,
.calendar-day--disabled:focus {
  pointer-events: none;
}

.calendar-day__text {
  width: 26px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.09px;
  border-radius: 50%;
  color: var(--red100);
  text-align: center;
}

.calendar-day--disabled .calendar-day__text {
  color: var(--gray600);
}

.calendar-day--active .calendar-day__text {
  background: var(--red100);
  color: white;
}

.calendar-day__amount {
  font-size: 11px;
  letter-spacing: -0.07px;
  color: var(--black);
  margin: 6px 0 0;
}

.calendar--medium .calendar-weeks {
  grid-template-columns: repeat(14, 42px);
}

.calendar--medium .calendar-days {
  grid-template-columns: repeat(14, 42px);
}